/* *{
  background-color: #282c34;

}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.quadrado{
  width: 100px;
  height: 100px;
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 5px;
  margin-top: 80px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;

  
}

.head{
  margin: 0; 
  display: inline;
  align-items:center;
  justify-content: center;
}


