h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 5%;
    font-size: 4em;
}

.p {
    color: whitesmoke;
    text-align: center;
    margin-top: 1%;
    font-size: large;
}

.home {
    background-color: #25292b;

}