.form {
    background-color: #5adbd8;
    width: 40%;
    display: block;
    float: right;
    height: 100vh
}

.side {
    background-color: #25292b;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.test {
    background-color: whitesmoke;
    display: block;
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 3%;
    border: none;
}


.test:focus {
    transition: 1s;
    background-color: rgb(235, 230, 230);
    border: none;

}

.img {
    width: 60%;
    height: 60%;
}

h2 {
    height: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
    margin-bottom: 10%;
}

.button {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 5%;
    margin-top: 10%;
    margin-left: 42.5%;
}

/* botao para login*/
.button {
    background-color: #25292b;
    color: white;
    border: none;
    border-radius: 5px;
    width: 15%;
    height: 5%;
    margin-top: 2%;
    margin-left: 42.5%;
}


.spans {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    font-style: bold;
    margin-left: 40%;
}